<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/flexbox.css">
  <title>Home</title>
</head>
<body>
  <main>

    <section class="banner">
      <img src="img/banner.png" alt="banner">
      <h3 class="banner-text">Frete grátis para todo o Brasil</h3>
    </section>
    <section class="tarja">
      <img src="img/tarja.webp" alt="banner">
    </section>

    <section class="mais-vendidos">

      <h2>Lançamentos</h2>

      <div class="product-cards">

        <div class="product-card">
          <img src="img/roupa1.jpg" alt="">
          <h3>Conjunto Aquamarine</h3>
          <p>R$ 179,90</p>
          <button>Adicionar ao carrinho</button>
        </div>
        <div class="product-card">
          <img src="img/roupa2.jpg" alt="">
          <h3>Roupa 2</h3>
          <p>R$ 179,90</p>
          <button>Adicionar ao carrinho</button>
        </div>
        <div class="product-card">
          <img src="img/roupa3.jpg" alt="">
          <h3>Roupa 3</h3>
          <p>R$ 179,90</p>
          <button>Adicionar ao carrinho</button>
        </div>

      </div>

      <h2>Mais Vendidos</h2>
      <div class="product-cards">
        <div class="product-card">
          <img src="img/roupa4.jpg" alt="">
          <h3>Roupa 4</h3>
          <h3>R$ 199,90</h3>
        </div>
        <div class="product-card">
          <img src="img/roupa5.jpg" alt="">
          <h3>Roupa 5</h3>
          <h3>R$ 199,90</h3>
        </div>
        <div class="product-card">
          <img src="img/roupa6.jpg" alt="">
          <h3>Roupa 6</h3>
          <h3>R$ 199,90</h3>
        </div>
      </div>
    
    </section>

    <section class="minibanner">
      <img src="/img/minibanner1.png" alt="minibanner">
      <img src="/img/minibanner2.png" alt="minibanner2">
    </section>

</body>
</html>
