<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/flexbox.css">
  <title>Home</title>
</head>
<body>
  <main>
    <section class="banner">
      <img src="img/banner.png" alt="banner" id="banner">
        <h3 class="banner-text">Frete grátis para todo o Brasil</h3>
    </section>
    <section class="mais-vendidos">
        <h2>Lançamentos</h2>
                <div class="product-card">
                <img src="img/roupa1.jpg" alt="">
                <h3>Roupa 1</h3>
                <img src="img/roupa2.jpg" alt="">
                <h3>Roupa 2</h3>
                <img src="img/roupa3.jpg" alt="">
                <h3>Roupa 3</h3>
            </div>
            <h2>Mais Vendidos</h2>
                <div class="product-card">
                <img src="img/roupa1.jpg" alt="">
                <h3>Roupa 1</h3>
                <img src="img/roupa2.jpg" alt="">
                <h3>Roupa 2</h3>
                <img src="img/roupa3.jpg" alt="">
                <h3>Roupa 3</h3>
            </div>
    </section>
</body>
</html>
