<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ecommerce</title>
  <link rel="stylesheet" href="/public/css/reset.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>


  <header>
    <div class="logo-container">
      <img src="/public/img/logoooo.png" alt="logo">
    </div>
    
    <div class="menu">
      <div class="container-superior">
        <div class="search-wrapper">
          <input type="text" placeholder="O que você procura">
          <button>Buscar</button>

        </div>
        <div class="container-superior-btngroup">
          <button><img src="/public/img/carrinho.png" alt=""></button>
          <a href="#">Login</a>
        </div>
      </div>
      <div class="container-inferior">
        <nav class="container-inferior-nav">
          <a href="#">Camisetas</a>
          <a href="#">Calças</a>
          <a href="#">Moda íntima </a>
         
        </nav>
      </div>

    </div>
   
  </header>
  <main style="height:120vh ;"
  >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate at voluptatem tempora dolorem velit eveniet, mollitia ullam odit in id officiis doloribus numquam cum suscipit ea ipsam porro quae commodi!</main>
  <footer>
    <div class="copyright">
      <p>Copyright &copy; 2022</p>
    </div>
    <div class="footer-list">
      <div>
        <h1>Produtos</h1>
        <a href="#">Camisetas</a>
        <a href="#">Calças</a>
      </div>
    </div>
    <div class="footer-list">
      <div>
        <h1>Feito por</h1>
        <a href="https://github.com/josewkim94">José</a>
        <a href="https://github.com/draven9">Eric</a>
        <a href="#">Marcos</a>
        <a href="#">Vitor</a>

      </div>
    </div>
    
  </footer>
</body>
</html>