body {
  max-width: 100vw;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  
}
a:hover{
  color: rgb(195, 102, 102);
  transition: ease all 0.5s;
}
header {
  background-color: #fff7fc;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  
}

.logo-container {
  max-width: 200px;
  display: flex;
}

.logo-container img {
  width: 100%;
  margin-left: 10px;
}

.menu {
  display: flex;
  flex-direction: column; 
  width: 100%;
  height: 100%;
  padding-left: 110px;
}

.menu button {
  border:none;
  background-color: transparent;

}
.menu button:hover {
  color: rgb(216, 96, 186);
  transition: ease all 0.5s;
}

.container-superior {
  display: flex;
  width: 100%;
  height: 100px;
}

.container-superior-btngroup {
  display: flex;
  align-items: center;
  gap: 100px;
  width: 100%;
  justify-content: flex-end;
  padding-right: 30px;
  flex: 1;
}

.container-superior-btngroup img {
  width: 28px;
}

.container-inferior {
  height: 100px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  flex: 2;
}

.search-wrapper input{
  padding: 10px;
  width: 70%;
}
.container-inferior {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.container-inferior-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
footer {
  display: flex;
  background-color: #20232a;
  padding: 1.5rem 0;
  
}
footer h1 {
  color: #ff0000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.1rem;
}
footer a {
  color: white;
}
footer p {
  color: white;
}
.copyright {
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;

}
.footer-list{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 30px;

}
.footer-list div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 30px;
}