button {
    border: none;
    height: 57px;
    padding: 16px 0;
    text-align: center;
    width: 200px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    border-radius: 50px;
    background-color: rgb(173, 219, 218, .5);
    color: white;
}